@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Poppins", sans-serif;
    
}
/* common css */
.primary_color{
    color: #3A3A3A;
}
.dark{
    color: #18191F;
}
.medium_dark{
    color: #000000;
}
.light_dark{
    color: #000000;
}
.lighter_dark{
    color: #787885;
}
.lightest_dark{
    color: #D9DBE1;
}
.heighlight_color{
    color: #E02C6D;
}
#header{
    
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 120px;
}
.btn{
    padding: 10px 24px;
    color: white;
    font-weight: bold;
    background-color: #E02C6D;
    border: none;
   
}
/* nav styles */

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 87px;
    padding-bottom: 50px;
}
.navlink{
    display: flex;
    
    gap: 2rem;
    align-items: center;
    
}
.navlink>li{
    list-style: none;
    font-size: 1rem;
}
.navlink>li>a{
    text-decoration: none;
}
.brand_name{
    font-size: 1.7rem;
}

/* banner start */
.banner_content{
    display: flex;
    gap: 8.3rem;
}
.banner_text{
    margin-top: 145px;
}
.banner_p1{
    font-size: 3.25rem;
    font-weight: bold;
}
.banner_p2{
    font-size: 1rem;
    margin: 16px 0px;
    font-weight: 600;
}
.camera_background{
    max-width: 475px;
    height: 475px;
    position: relative;
    z-index: 1;
}
.camera_background img{
    width: 100%;
    height: 100%;
}
.camera{
    max-width: 440px;
    height: 414px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
}
.banner_brand_logo_box{
    margin-top: 4.3rem;
    margin-bottom: 4.3rem;
}
.banner_brand_logo{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow:  0 -5px 5px -5px #C0CCDA, 0 5px 5px -5px #C0CCDA;
}
.mr_3{
    margin-right: 4.5rem;
}
/* popular collection style */
.popular_collection{
    max-width: 1047px;
    margin: 0 auto;
    background-color: #fefefe;
    
}
.popular_collection_heading{
    margin: 1.8rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}
.popular_collection_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}
.popular_collecion_img_box{
   padding: 10px;
}

.popular_collection_img_parent{
    box-shadow: 2px 2px 5px 2px rgb(219, 214, 214);
    background-color: white;
    max-width: 329px;
    border-radius: 16px;
   
}
.popular_p1{
    font-size: 1.75rem;
    font-weight: 500;
}
.popular_p2{
    margin: 1rem 0rem;
}
.icon{
    height: 1rem;
    width: 1rem;
}
.popular_collecion_img_box span{
    font-size: 1rem;
    font-weight: bold;
}
.see_more{
   float: right;
}
.see_more a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
}


.features_products{
    margin: 100px 124px 100px 165px;
    display: flex;
    gap: 72px;
}
.features_image{
    max-width: 404px;
    height: 270px;
}
.features_image img{
    width: 100%;
    height: 100%;
}
.features_content{
    max-width: 610px;
    height: 224px;
}
.features_heading{
    font-size: 2.37rem;
    font-weight: bold;
    color: #0A0826;
}
.features_description{
    font-size: 1rem;
    font-weight: bold;
    color: #6C6C6C;
    padding: 16px 0px;
}
.border_redi{
    border-radius: 42px;
}
#footer{
    background-color: #0a0826;
    color: white;
}
.footer_content{
    max-width: 261px;
    padding: 50px 0px;
    height: 139px;
    margin: 0 auto;
    text-align: center;
}
.footer_heading{
    font-size: 1.5rem;
    font-weight: bold;
}
.footer_description, .footer_copyright{
    font-size: 0.8rem;
    font-weight: bold;
    margin: 10px 0px;
    color: #D9DBE1;
}
.footer_icon{
    display: flex;
}
.footer_icon li{
    list-style: none;
    padding: 10px 25px;
    justify-content: space-between;
}
/* responsive style */
@media screen and (max-width: 576px){
    #header{
        padding: 0px 10px;
    }
    .navbar, .navlink, .banner_content{
        flex-direction: column;
    }
    .brand_name{
        text-align: center;
        margin-bottom: 10px;
    }
    .banner_text, .banner_brand_logo_box{
        margin-top: 20px;
        text-align: center;
    }
    .camera{
        padding: 0px;
    }
    .banner_brand_logo img{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .popular_collection_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .popular_collection_img_parent{
        margin: 0 auto;
    }
    .features_products{
        margin: 50px 30px 50px 20px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .features_content{
       
        height: auto;
        margin-top: 30px;
    }
    
    .see_more{
        margin-right: 50px;
    }

}